{
manufacturers =     (
{
brandIntroduction = null;
brandName = "\U6d77\U683c";
name = "\U82cf\U5dde\U91d1\U9f99";
serials =             (
{
carField = 3;
carVersion = 1;
count = 13;
id = 11101;
isNew = 0;
kind = "\U76ae\U5361";
name = "\U9f99\U5a01";
photo = "http://img.pconline.com.cn/images/upload/upc/tx/auto5/1406/11/c0/35159922_1402454303656_180x135.jpg";
priceRange = "8.18~10.18 \U4e07";
sellStatus = 3;
},
{
carField = 3;
carVersion = 1;
count = 7;
id = 10089;
isNew = 0;
kind = "\U8f7b\U5ba2";
name = "\U6d77\U683cH5V";
photo = "http://img.pconline.com.cn/images/upload/upc/tx/auto5/1312/06/c4/29365108_1386310598703_180x135.jpg";
priceRange = "21.08~40 \U4e07";
sellStatus = 3;
},
{
carField = 3;
carVersion = 1;
count = 1;
id = 11617;
isNew = 0;
kind = "\U8f7b\U5ba2";
name = "\U6d77\U683cH6V";
photo = "http://img.pconline.com.cn/images/upload/upc/tx/auto5/1410/30/c10/40349415_40349415_1414655244196_180x135.jpg";
priceRange = "70.8 \U4e07";
sellStatus = 3;
},
{
carField = 3;
carVersion = 1;
count = 10;
id = 10028;
isNew = 0;
kind = "\U8f7b\U5ba2";
name = "\U6d77\U683cH5C";
photo = "http://img.pconline.com.cn/images/upload/upc/tx/auto5/1311/20/c0/28802228_1384909412473_180x135.jpg";
priceRange = "16.53~19.63 \U4e07";
sellStatus = 3;
},
{
carField = 3;
carVersion = 1;
count = 2;
id = 11627;
isNew = 0;
kind = "\U8f7b\U5ba2";
name = "\U6d77\U683cH6C";
photo = "http://img.pconline.com.cn/images/upload/upc/tx/auto5/1410/30/c7/40345609_40345609_1414650957131_180x135.jpg";
priceRange = "19.63~22.13 \U4e07";
sellStatus = 3;
},
{
carField = 3;
carVersion = 1;
count = 10;
id = 11112;
isNew = 0;
kind = "\U76ae\U5361";
name = "\U5fa1\U9a8f";
photo = "http://img.pconline.com.cn/images/upload/upc/tx/auto5/1406/11/c8/35178811_1402480473531_180x135.jpg";
priceRange = "7.18~8.08 \U4e07";
sellStatus = 3;
}
);
}
);
}